html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(223, 233, 255, 1);
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/FrontEnd/src/fonts/RobotoMono-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(/FrontEnd/src/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(/FrontEnd/src/fonts/RobotoMono-Bold.ttf);
}

.search {
  position: relative;
}

.search-input {
  width: 800px;
  height: 45px;
  margin-top: 3%;
  border-radius: 15px;
  border: 1px solid rgba(41, 95, 212, 1);
  font-size: 18px;
  padding-left: 50px;
  font-family: "Roboto-Regular";
}

.search-butt {
  border: 1px solid rgba(41, 95, 212, 1);
  border-radius: 10px;
  background-color: rgba(41, 95, 212, 1);
  color: white;
  padding: 15px;
  font-size: 15px;
  font-family: "Roboto-Medium";
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
}

.search-icon {
  position: absolute;
  top: 55%;
  left: 2%;
  width: 20px;
  height: 20px;
}

.container-tags {
  width: 35%;
  height: 20%;
  margin-left: 15%;
  font-family: "Roboto-Medium";
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  padding: 5px 10px;
  background-color: rgba(41, 95, 212, 0.31);
  color: rgba(41, 95, 212, 1);
  border-radius: 10px;
  white-space: nowrap;
  min-width: 50px;
  margin-top: 3%;
}

.tag img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.tag p {
  margin: 0;
}

.create-res {
  border: 1px solid rgba(41, 95, 212, 1);
  border-radius: 10px;
  background-color: rgba(41, 95, 212, 1);
  color: white;
  padding: 15px;
  font-size: 15px;
  font-family: "Roboto-Medium";
  z-index: 5;
}

.cont-filter {
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  width: 18%;
  margin-left: 10%;
  margin-top: 1%;
  height: 100%;
}

.filter {
  height: 25%;
  margin-left: 10%;
}

.filter-name {
  font-family: "Roboto-Medium";
  margin-left: 5px;
  font-size: 16px;
  margin-top: 15%;
}

.curse {
  font-family: "Roboto-Regular";
  margin-left: 15px;
  margin-top: 10px;
  font-size: 16px;
}

#box {
  width: 18px;
  height: 18px;
  margin-top: 14px;
}

.checkbox-cont {
  display: flex;
  align-items: center;
}

.cont-resume {
  height: 320px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
}

.cont-resume-new {
  height: 310px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
}

#resume-container {
  position: relative;
  width: 60%;
  min-height: 80vh;
  padding: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resume-name {
  font-family: "Roboto-Medium";
  font-size: 20px;
  margin-left: 3%;
  color: rgba(41, 95, 212, 1);
}

.resume-descr {
  font-family: "Roboto-Regular";
  font-size: 15px;
  margin-left: 3%;
  width: 70%;
}

.resume-tag {
  display: inline-flex;
  align-items: center;
  background-color: rgba(41, 95, 212, 0.31);
  color: rgba(41, 95, 212, 1);
  border-radius: 10px;
  white-space: nowrap;
  min-width: 30px;
  padding: 10px;
  height: 10px;
  margin-left: 3%;
  font-family: "Roboto-Medium";
  font-size: 12px;
}

.resume-butt {
  background-color: rgba(41, 95, 212, 1);
  color: white;
  padding: 15px;
  font-size: 18px;
  font-family: "Roboto-Medium";
  border-radius: 10px;
  border: 1px solid rgba(41, 95, 212, 1);
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 25%;
  margin-top: 2%;
  margin-left: 3%;
}

.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup-window.active {
  visibility: visible;
  opacity: 1;
}

.popup-resume {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  height: 93%;
}

.popup-name {
  font-family: "Roboto-Medium";
  font-size: 25px;
  margin-left: 6%;
}

.popup-input {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  gap: 30px;
  margin-top: 8%;
}

.input-wrapper {
  position: relative;
}

.input-label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
  font-family: "Roboto-Medium";
  color: rgba(41, 95, 212, 1);
}

.input-one {
  width: 60%;
  padding: 15px;
  border: 2px solid rgba(41, 95, 212, 1);
  border-radius: 5px;
  font-size: 13px;
  font-family: "Roboto-Medium";
  margin-top: 15px;
  background-size: 12px;
}

select.input-one {
  width: 65%;
}

.pup-line {
  width: 70%;
  margin-left: 3%;
}

.pup-name {
  margin-top: 5%;
  margin-left: 5%;
  font-family: "Roboto-Medium";
  font-size: 15px;
}

.pup-end {
  display: flex;
  flex-direction: column;
}

.pup-resume-tag {
  display: inline-flex;
  align-items: center;
  background-color: rgba(41, 95, 212, 0.31);
  color: rgba(41, 95, 212, 1);
  border-radius: 10px;
  white-space: nowrap;
  min-width: 5px;
  padding: 10px;
  height: 5px;
  margin-left: 1%;
  font-family: "Roboto-Medium";
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.pup-resume-tag.highlighted {
  border: 1px solid rgb(21, 55, 129);
}

.pup-tags {
  width: 75%;
  margin-left: 5%;
}

.popup-butt {
  border: 1px solid rgba(41, 95, 212, 1);
  border-radius: 10px;
  background-color: rgba(41, 95, 212, 1);
  color: white;
  padding: 13px;
  font-size: 15px;
  font-family: "Roboto-Medium";
  width: 20%;
  margin-left: 78%;
  margin-top: -15%;
}

.main {
  display: flex;
  align-items: start;
}

.head {
  display: flex;
  justify-content: center;
  align-items: end;
  transform: translateX(-4%);
  gap: 5%;
}
