@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unbounded";
    src: url("../assets/fonts/Unbounded-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "Unbounded";
    src: url("../assets/fonts/Unbounded-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "Unbounded";
    src: url("../assets/fonts/Unbounded-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}

:root {
    --background-black: #0C0C0C;
    --main-purple: #6443B2;
    --gray: #505050;
    --purple-white: #E9E2FB;
    --white: #FFFFFF;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-black);
    color: var(--white);
    background-size: cover;
}

input {
    border: none;
    box-shadow: none;
    font-family: inherit;
}

input:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}


.auth-container {
    max-width: 1450px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #202020;
    border-right: 1px solid #202020;
}

.auth-block {
    width: 100%;
    height: 100%;
    max-height: 98vh;
    /* border: 1px solid var(--main-purple); */
    /* border-radius: 20px; */
    padding: 40px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-black);
    position: relative;
}

.left-auth-part {
    margin-left: 40px;
    width: 100%;
    max-width: 460px;
}

.very-blur {
    position: absolute;
    top: 25%;
    left: 35%;
    filter: blur(130px)
}

.brand-icon {
    position: relative;
    top: -100px;
    left: -90px;
}

.sign-in h3 {
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 50px;
}

.label {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.user-input {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
}

.user-input input {
    /* font-family: inherit; */
    font-size: 19px;
    font-weight: 500;
    width: 100%;
    max-width: 460px;
    height: 60px;
    padding: 0 25px;
    border-radius: 10px;
    background-color: var(--white);
}

.user-hint {
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    margin-top: 10px;
    text-align: end;
    position: relative;
    z-index: 1;
}

.sign-in-button {
    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 460px;
    border-radius: 10px;
    margin-top: 40px;
    padding: 19px 0;
    background-color: var(--main-purple);
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: center;
    margin: 50px 0 16px;
}

.socials img {
    margin-inline: 10px;
    cursor: pointer;
}

.decoration-block {
    position: relative;
    max-width: 540px;
    height: 820px;
    box-shadow: 2px 0 4px rgb(0, 0, 0, 6);
}

.decoration-block img {
    position: absolute;
    z-index: 0;
}

.decor-interface {
    font-family: "Comfortaa", sans-serif;
    position: relative;
    padding: 40px;
    top: 205px;
    z-index: 1;
}

.decor-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75rem;
}

.creators {
    margin: 45px 0;
}

.creator-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.creator-roles {
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0;
    margin-left: 5px;
}

.decor-controllers {
    display: flex;
    justify-content: space-between;
    max-width: 160px;
}

.decor-controllers .controller {
    max-width: 70px;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE1F2;
    border-radius: 5px;
    cursor: pointer;
}

.decor-mini-info {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 30px 20px;
    color: var(--background-black);
}

.header h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0 5px;
}

.header h4 {
    color: var(--gray);
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.decor-mini-info .description {
    font-family: "Montserrat";
    width: 90%;
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.125rem;
    font-weight: 500;
}


.main-container {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-inline: 155px;
    background-color: var(--background-black);
    border-left: 1px solid #202020;
    border-right: 1px solid #202020;
    font-family: "Montserrat";
    overflow: hidden;
}

h1 {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 55px;
    padding-top: 50px;
}

.navigation-bar {
    width: 100%;
    max-width: 1010px;
    max-height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.navigation-bar input, .navigation-bar div {
    border-radius: 8px;
}

.filter-input {
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    font-weight: 500px;
    width: 100%;
    height: 45px;
    padding: 10px 40px;
    background-color: var(--purple-white);
    color: #202020;
}

.filter-input::placeholder {
    font-size: 12px;
    font-weight: 400px;
}

.input-icon {
    position: absolute;
    left: 12px;
}

.create-cv {
    font-family: "Comfortaa", sans-serif;
    font-size: 12px;
    font-weight: 300;
    height: 45px;
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 30px 15px;
    background-color: var(--main-purple);
}

.content-block {
    width: 100%;
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
}

.filters-block h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
}

.filters-block h3 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px;
}

.tags-grid {
    display: grid;
    margin-left: 5px;
    grid-template-columns: 92px 92px;
    gap: 9px;
    margin-bottom: 28px;
}

.tag {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    max-width: 92px;
    padding: 5px 0;
    
    border-radius: 6px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.disabled-tag {
    color: var(--gray) !important;
    background-color: #151515 !important;
}

.course-block {
    margin: 28px 0;
}

.filter-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.course-block label, .spec-block label {
    width: max-content;
    font-size: 14px;
    font-weight: 300;
    margin: 7px 5px;
}

.filter-checkbox+label {
    display: flex;
  align-items: center;
  user-select: none;
}

.filter-checkbox+label::before {
    content: '';
    display: block;
    min-width: 11px;
    min-height: 11px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #383838;
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.filter-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: var(--main-purple);
}

.filter-checkbox:checked+label::before {
    min-width: 13px;
    min-height: 13px;
    border: var(--main-purple);
    background-color: var(--main-purple);
    background-image: url("../assets/images/checked-icon.svg");
}


.cv-block {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 67vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.cv-scroll-block::-webkit-scrollbar { width: 0;}

.dropdown-filter {
    width: 100%;
    margin: -40px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    color: var(--main-purple);

    font-size: 15px;
    font-weight: 500;
}

.dropdown-text {
    position: relative;
    z-index: 2;
}

.direction-pointer {
    position: relative;
    width: 15px;
    height: 18px;
    margin-left: 4px;
    z-index: 2;
}

.direction-pointer img {
    position: absolute;
}

.custom-filter-select {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    background-color: unset;
    border: none;
    color: var(--main-purple);
}

.dropdown-button {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.dropdown-list {
    display: none;

    position: absolute;
    top: -20px;
    width: 180px;
    margin-top: 8px;
    padding: 0px 0;
    border: 2px solid #181818;
    border-radius: 10px;
    background-color: var(--background-black);
    list-style-type: none;
    box-shadow: 2px 3px 6px #060606;
    overflow: hidden;
    z-index: 3;
}

.dropdown-list--visible {
    display: block;
}

.dropdown-list-item {
    /* padding: 7px 10px; */
    color: #5E5E5E;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-list-item img {
    margin-left: 5px;
}

.item-row {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sep-line {
    width: 82%;
    margin-right: 10px;
    height: 1px;
    background-color: #181818;
}

.dropdown-list-item:hover {
    background-color: #151515;
}

.cv-scroll-block {
    width: 100%;
    overflow-y: scroll;
}

.cv-container {
    position: relative;
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    border: 1px solid var(--gray);
    border-radius: 20px;
}

.cv-container .main-part {
    display: flex;
    align-items: center;
}

.main-part .info {
    width: 100%;
    margin-left: 35px;
}

.info h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-right: 18px;
}

.info .title {
    display: flex;
    align-items: center;
}

.title h2 {
    font-weight: 500;
}

.info .date {
    font-size: 12px;
    margin: 7px 0 12px;
    color: #b3b3b3;
}

.small-tag {
    font-size: 10px;
    width: 100%;
    max-width: 50px;
    max-height: min-content;
    margin-right: 8px;
    padding: 3px 0;
    border-radius: 3px;
    cursor: auto;
}

.info .spec {
    font-size: 14px;
    font-weight: 400;
    max-width: max-content;
    padding: 4px 6px;
    
    border-radius: 6px;
    text-align: center;
    color: var(--main-purple);
    background-color: #171323;
}

.profile-name {
    font-size: 13.4px;
    font-weight: 400;
    margin-top: 25px;
    display: flex;
}

.profile-name .title {
    color: #b3b3b3;
    width: 108px;
    margin-right: 22px;
}

.profile-name .executor {
    font-size: 14.5px;
    font-weight: 500;
}

.cv-container .sep-line {
    position: absolute;
    bottom: 87px;
    width: 93%;
    height: 1px;
    background-color: var(--gray);
}

.profile-name .description {
    font-size: 12px;
    width: 80%;
}

.shadow-block {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 90px;
    z-index: 1;
    background-image: linear-gradient(to top, var(--background-black) 40%, rgba(12, 12, 12, 0) 60%);
}