.main-container {
    max-width: 1320px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-inline: 155px;
    background-color: var(--background-black);
    border-left: 1px solid #202020;
    border-right: 1px solid #202020;
    font-family: "Montserrat";
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 55px;
    padding-top: 50px;
}

.navigation-bar {
    width: 100%;
    max-width: 1010px;
    max-height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.filter-input {
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    padding: 10px 40px;
    background-color: var(--purple-white);
    color: #202020;
}

.filter-input::placeholder {
    font-size: 12px;
    font-weight: 400px;
}

.input-icon {
    position: absolute;
    left: 12px;
}

.create-cv {
    font-family: "Comfortaa", sans-serif;
    font-size: 12px;
    font-weight: 300;
    height: 45px;
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 30px 15px;
    border-radius: 8px;
    background-color: var(--main-purple);
    cursor: pointer;
}

.content-block {
    position: relative;
    width: 100%;
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
}

.filters-block {
    top: 1rem;
    position: sticky;
    max-height: max-content;
}

.filters-block h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
}

.filters-block h3 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px;
}

.tags-grid {
    display: grid;
    margin-left: 5px;
    grid-template-columns: 92px 92px;
    gap: 9px;
    margin-bottom: 28px;
}

.tag {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    max-width: 92px;
    padding: 5px 0;
    
    border-radius: 6px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.disabled-tag {
    color: var(--gray) !important;
    background-color: #151515 !important;
}

.course-block {
    margin: 28px 0;
}

.filter-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.course-block label, .spec-block label {
    width: max-content;
    font-size: 14px;
    font-weight: 300;
    margin: 7px 5px;
}

.filter-checkbox+label {
    display: flex;
  align-items: center;
  user-select: none;
}

.filter-checkbox+label::before {
    content: '';
    display: block;
    min-width: 11px;
    min-height: 11px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #383838;
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.filter-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: var(--main-purple);
}

.filter-checkbox:checked+label::before {
    min-width: 13px;
    min-height: 13px;
    border: var(--main-purple);
    background-color: var(--main-purple);
    background-image: url("../../assets/images/checked-icon.svg");
}


.cv-block {
    position: relative;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.dropdown-filter {
    width: 100%;
    margin: -40px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    color: var(--main-purple);

    font-size: 15px;
    font-weight: 500;
}

.dropdown-text {
    position: relative;
    z-index: 2;
}

.direction-pointer {
    position: relative;
    width: 15px;
    height: 18px;
    margin-left: 4px;
    z-index: 2;
}

.direction-pointer img {
    position: absolute;
}

.custom-filter-select {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    background-color: unset;
    border: none;
    color: var(--main-purple);
}

.dropdown-button {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.dropdown-list {
    display: none;

    position: absolute;
    top: -20px;
    width: 180px;
    margin-top: 8px;
    padding: 0px 0;
    border: 2px solid #181818;
    border-radius: 10px;
    background-color: var(--background-black);
    list-style-type: none;
    box-shadow: 2px 3px 6px #060606;
    overflow: hidden;
    z-index: 3;
}

.dropdown-list--visible {
    display: block;
}

.dropdown-list-item {
    /* padding: 7px 10px; */
    color: #5E5E5E;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-list-item img {
    margin-left: 5px;
}

.item-row {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sep-line {
    width: 82%;
    margin-right: 10px;
    height: 1px;
    background-color: #181818;
}

.dropdown-list-item:hover {
    background-color: #151515;
}

.cv-scroll-block {
    width: 100%;
    /* overflow-y: scroll; */
}

.cv-container {
    position: relative;
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    border: 1px solid var(--gray);
    border-radius: 20px;
    cursor: pointer;
    transition: border 0.1s;
}

.cv-container:hover {
    border-color: var(--main-purple);
}

.cv-container .main-part {
    display: flex;
    align-items: center;
}

.main-part .info {
    width: 100%;
    margin-left: 35px;
}

.info h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-right: 18px;
}

.info .title {
    display: flex;
    align-items: center;
}

.title h2 {
    font-weight: 500;
}

.info .date {
    font-size: 12px;
    margin: 7px 0 12px;
    color: #b3b3b3;
}

.small-tag {
    font-size: 10px;
    width: 100%;
    max-width: 50px;
    max-height: min-content;
    margin-right: 8px;
    padding: 3px 0;
    border-radius: 3px;
    cursor: auto;
}

.info .spec {
    font-size: 14px;
    font-weight: 400;
    max-width: max-content;
    padding: 4px 6px;
    
    border-radius: 6px;
    text-align: center;
    color: var(--main-purple);
    background-color: #171323;
}

.profile-name {
    font-size: 13.4px;
    font-weight: 400;
    margin-top: 25px;
    display: flex;
}

.profile-name .title {
    color: #b3b3b3;
    width: 108px;
    margin-right: 22px;
}

.profile-name .executor {
    font-size: 14.5px;
    font-weight: 500;
}

.cv-container .sep-line {
    position: absolute;
    bottom: 87px;
    width: 93%;
    height: 1px;
    background-color: var(--gray);
}

.profile-name .description {
    font-size: 12px;
    width: 80%;
}