<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>

    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/auth.css">
</head>
<body>
    <div class="auth-container">
        <div class="auth-block">
            <img src="../assets/images/Blured circle.svg" alt="circle" class="very-blur">
            <div class="left-auth-part">
                <img src="../assets/images/KZT-icon.png" alt="icon" class="brand-icon">

                <div class="sign-in">
                    <h3>Пожалуйста войдите в аккаунт</h3>
                    <div class="user-input">
                        <div class="label">Логин</div>
                        <input type="text" placeholder="i20s0000">
                    </div>

                    <div class="user-input">
                        <div class="label">Пароль</div>
                        <input type="password" placeholder="Ваш пароль">
                        <div class="user-hint">Вводи данные корректно</div>
                    </div>

                    <div class="sign-in-button" onclick="trySign()">
                        Войти
                    </div>

                    <div class="socials">
                        <img src="../assets/images/Home-icon.svg" alt="icon" onclick="window.open(`http:/\/\portal.students.it-college.ru`)">
                        <img src="../assets/images/Git-icon.svg" alt="icon" onclick="window.open(`http:/\/\git.students.it-college.ru:8080`)">
                        <img src="../assets/images/Wiki-icon.svg" alt="icon" onclick="window.open(`http:/\/\wiki.students.it-college.ru`)">
                    </div>

                    <div class="user-hint" style="font-family: 'Comfortaa', sans-serif;text-align: center;">Ресурсы колледжа</div>
                </div>
            </div>

            <div class="decoration-block">
                <img src="../assets/images/Decoration-block.png" alt="">
                <div class="decor-interface">
                    <div class="decor-description">
                        “Здесь вы можете найти интересующего вас программиста или стать тем, кого ищут.”
                    </div>

                    <div class="creators">
                        <h4 class="creator-name">Сергей Кривостаненко</h4>
                        <h4 class="creator-roles">Верстка и адаптация проекта</h4>
                        <h4 class="creator-roles">Разработка дизайнa проекта</h4>
                    </div>

                    <div class="decor-controllers">
                        <div class="controller">
                            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: scale(-1, 1)">
                                <path d="M2 7.85C1.36487 7.85 0.85 8.36487 0.85 9C0.85 9.63513 1.36487 10.15 2 10.15L2 7.85ZM22.8132 9.81317C23.2623 9.36407 23.2623 8.63593 22.8132 8.18683L15.4946 0.868272C15.0455 0.419169 14.3174 0.419169 13.8683 0.868272C13.4192 1.31738 13.4192 2.04551 13.8683 2.49462L20.3737 9L13.8683 15.5054C13.4192 15.9545 13.4192 16.6826 13.8683 17.1317C14.3174 17.5808 15.0455 17.5808 15.4946 17.1317L22.8132 9.81317ZM2 10.15L22 10.15V7.85L2 7.85L2 10.15Z" fill="#6443B2"/>
                            </svg> 
                        </div>

                        <div class="controller" style="background-color: #201129;">
                            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 7.85C1.36487 7.85 0.85 8.36487 0.85 9C0.85 9.63513 1.36487 10.15 2 10.15L2 7.85ZM22.8132 9.81317C23.2623 9.36407 23.2623 8.63593 22.8132 8.18683L15.4946 0.868272C15.0455 0.419169 14.3174 0.419169 13.8683 0.868272C13.4192 1.31738 13.4192 2.04551 13.8683 2.49462L20.3737 9L13.8683 15.5054C13.4192 15.9545 13.4192 16.6826 13.8683 17.1317C14.3174 17.5808 15.0455 17.5808 15.4946 17.1317L22.8132 9.81317ZM2 10.15L22 10.15V7.85L2 7.85L2 10.15Z" fill="#EEE1F2"/>
                            </svg>   
                        </div>
                    </div>

                    <div class="decor-mini-info">
                        <div class="header">
                            <h3>Сергей Кривостаненко</h3>
                            <h4>BackEnd разработчик</h4>
                        </div>

                        <div class="description">
                            Это мое краткое резюме. А также это тест прикольной фишки
                            чтобы на главный экран выводили текст мой. И типа этими стрелочками
                            можно листать там меня. Но, пожалуй пока не стоит меня скипать, так
                            как пока в фигме это не продумано.
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <script src="../static/main.js"></script>
    <script>
        let nextPage = location.search.substring(1);
    </script>
</body>
</html>